* {
  font-family: "Lora", serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.demo a {
  text-decoration: none;
  color: #fff;
}

/* need to add media to make line height 1.5 on smaller screen */
.demo {
  font-family: "Domine", serif;
  font-size: 2rem;
  letter-spacing: 0.4rem;
  line-height: 0;
  padding-top: 1rem;
}

.half-black {
  background: rgba(0, 0, 0, 0.5);
  max-height: 210px;
}

.bg-black {
  background-color: rgba(14, 14, 14, 1);
}

.carousel-caption {
  top: 200px;
}

.header-tot {
  height: 100vh;
  min-height: 100vh;
}

.as {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.underline {
  width: 100px;
  height: 2px;
  background-color: #a9a9a9;
}

.bg-light-grey {
  background-color: #cdcdcd;
}

.media img {
  max-width: 120px;
  height: auto;
}

.underline-green {
  width: 70px;
  height: 2px;
  background-color: #3cb371;
}

.underline-red {
  width: 70px;
  height: 2px;
  background-color: #8b0000;
}

.underline-blue {
  width: 70px;
  height: 2px;
  background-color: #00008b;
}

.card-body {
  text-align: center;
}

/* BLOG SECTION */

.blog .media img {
  max-width: 200px;
  height: auto;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

#terms {
  font-size: 0.75rem;
}

/*   Catalog section*/

.card1 {
  height: 55%;
  width: 75%;
}

.underline-black {
  width: 70px;
  height: 2px;
  background-color: #000;
}

.heading {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-size: 4rem;
}
